$grey1: #ffffff;
$grey2: #fafafa;
$grey3: #f5f5f5;
$grey4: #f0f0f0;
$grey5: #d9d9d9;
$grey6: #bfbfbf;
$grey7: #8c8c8c;
$grey8: #595959;
$grey9: #434343;
$grey10: #262626;
$grey11: #1f1f1f;
$grey12: #141414;
$grey13: #000000;


$volcano1: #fff2e8;
$volcano2: #ffd8bf;
$volcano3: #ffbb96;
$volcano4: #ff9c6e;
$volcano5: #ff7a45;
$volcano6: #fa541c;
$volcano7: #d4380d;
$volcano8: #ad2102;
$volcano9: #871400;
$volcano10: #610b00;


$lime1: #fcffe6;
$lime2: #f4ffb8;
$lime3: #eaff8f;
$lime4: #d3f261;
$lime5: #bae637;
$lime6: #a0d911;
$lime7: #7cb305;
$lime8: #5b8c00;
$lime9: #3f6600;
$lime10: #254000;
