@import "@/app/css/colors.module.scss";

.sidebar {
  width: 300px;
  height: 100%;
  margin-left: 24px;

  .notice {
    height: 240px;
  }

  .calendar {
    width: 300px;
    height: 300px;
  }

  .wrapperStyle {
    width: 300px;
    height: 324px;
    margin: 24px 0;
    border-radius: 6px;
    border: 1px solid $grey5;
  }
}
